# Entorno de ejecución
NODE_ENV=development

# Configuración del servidor API
PORT=3000

# Base de datos Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=mydb

# APIs externas
TODOS_API_BASE_URL=https://jsonplaceholder.typicode.com
